# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Test reports
*.log
*.out

# Pytest cache
.pytest_cache/

# IDEs/editors
.vscode/
.idea/
*.swp

# Environment files
.env
